@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  margin: 0 200px;
}

@font-face {
  font-family: 'GolosTextWebDemiBold';
  src: url('../../public/fonts/golos-text_demibold.woff') format('truetype');
}

@font-face {
  font-family: 'GolosTextWebRegular';
  src: url('../../public/fonts/golos-text_regular.woff') format('truetype');
}

@font-face {
  font-family: 'GolosTextWebBold';
  src: url('../../public/fonts/golos-text_bold.woff') format('truetype');
}

@font-face {
  font-family: 'GolosTextWebBlack';
  src: url('../../public/fonts/golos-text_black.woff') format('truetype');
}

@font-face {
  font-family: 'GolosTextWebMedium';
  src: url('../../public/fonts/golos-text_medium.woff') format('truetype');
}
